* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #3d3d3d;
  height: 100vh;
  width: 100%;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
main .logo img {
  align-self: center !important;
  max-height: 75px;
  animation: pulse 1.5s infinite;
  transition: 0.5s ease-in-out;
}
main .logo .logo-text h1 {
  color: #ffffff;
  font-family: "Lobster", cursive;
  font-size: 3.8rem;
  font-weight: 400;
  font-style: normal;
  transition: 0.5s ease-in-out;
}
main .logo .logo-text h1:hover {
  transform: scale(1.08);
}
main .logo .logo-text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}
main form button {
  width: 200px;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #eb3b5a;
  border: 3px solid transparent;
  border-radius: 5px;
  margin-top: 2rem;
  padding: 15px;
  color: #ffffff;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
main form button:hover {
  background-color: #e72c4f;
  width: 320px;
  border-radius: 35px;
}
main form div {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
main form div label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
}
main form div input {
  width: 180px;
  height: 35px;
  align-self: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  outline-color: transparent;
  font-size: 1.1rem;
  font-weight: normal;
}
main form div input:focus {
  outline: none !important;
  background-color: #ebebeb;
}
main .result {
  margin-top: 30px;
}
main .result .hidden-text {
  display: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
}
main .result .result-number {
  display: none;
  border: 5px solid #eb3b5a;
  border-radius: 25px;
  margin-top: 10px;
  padding: 10px 30px;
}
main .result .result-number p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4.4rem;
  font-weight: 600;
  color: #ffffff;
  animation: pulse 1.5s infinite;
}
